<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head th:replace="common/header :: common-header"/>

<body class="bg-dark">

<div th:replace="common/header :: navbar"/>
<div class="accueil" id="home">

    <div class="container-fluid text-center">
        <div>
            <br><br><br><br>
            <h1>Quebec Banque</h1>
        </div>


        <div th:if="${message}" class="alert alert-success alert-dismissible fade show"
             role="alert">
            <strong>Succès !!</strong>
            [[${message}]]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>


        <div class="row m-5">
            <div class="col-md-6">
                <div class="card border-primary mb-3 " style="border-radius: 20px;">
                    <div class="card-header h2 bg-primary">
                        Activer votre carte
                    </div>
                    <form action="#" th:action="@{/carte/save}" th:object="${carte}" method="post">

                        <div class="table-responsive">

                            <table class=" table table-hover table-striped table-bordered ">
<!--                                <tr>-->
<!--                                    <td colspan="2">-->
<!--                                        <label>IdClient : </label>-->
<!--                                        <input type="number" name="idClient" placeholder="00" class="text-center col-2"-->
<!--                                               th:field="*{idClient}">-->
<!--                                    </td>-->
<!--                                    <td>-->
<!--                                        <label>IdClient : </label>-->
<!--                                        <input type="number" name="idCompte"  placeholder="00" class="text-center col-3"-->
<!--                                               th:field="*{idCompte}">-->
<!--                                    </td>-->
<!--                                </tr>-->
                                <tr>


                                    <td colspan="2">
                                        Dépot de 50 $ pour activer le compte
                                    </td>
                                    <td>
                                        <button type="submit" value="Submit" class="btn btn-success btn-sm">Activer
                                        </button>
                                        <a class="btn btn-success btn-sm" th:href="@{/GenererNoCarte}">Générer NoCarte</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td><label>Dépot : </label>
                                        <input type="number" name="total" placeholder="00" class="h6 text-center col-6"
                                               th:field="*{total}">
                                    </td>
                                    <td>
                                        <input  type="text" name="noCarte"
                                               class="text-center" th:value="${noCarte}" >
                                    </td>
                                    <td>
                                        <input type="text" name="dateExpiration"
                                               class="h6 text-center" th:value="${dateExpiration}" >
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-4 mx-auto col-sm-3 col-md-4">
                <div class="card text-white" style="border-radius:50px ;">
                    <img class="card-img"
                         src="https://www.gemini.com/_next/static/images/black-card-front-6633eebb718c81f03884e3d825029484.png"
                         alt="Card image">
                    <div class="card-img-overlay">
                        <h5 class="text-end m-5 text-primary" th:text="${carte.noCarte}">
                            </h5>
                        <h5 class="text-start m-5">Nom prénom</h5>
                        <p class="text-end m-5 "> 01/22<span class="h6 m-5" th:text="${carte.dateExpiration}"> </span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-5">
        <div class="col-8 mx-auto">
            <div class="card border-primary mb-3 " style="border-radius: 20px;">
                <div class="card-header h2 bg-primary text-center">
                    Faire une transaction
                </div>
                <div class="card-body text-primary 5">
                    <div class="table-responsive">
                        <table class=" table table-hover table-striped table-bordered  text-center">
                            <tr>
                                <td>
                                    Sommaire
                                </td>
                                <td>
                                    150 $
                                </td>
                                <td>
                                    - 00 $
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    Entrer les informations nécessaire
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="number" placeholder="00" class="h6 text-center">
                                </td>
                                <td>
                                    <input type="number" placeholder="0000 0000 0000 0000" class="h4 text-center">
                                </td>
                                <td>
                                    <input type="number" placeholder="8/27" class="h6 text-center">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input class="m-3 text-center" placeholder="0000 0000 0000 0000">
                                </td>
                                <td>
                                    <input type="number" placeholder="depot" class="m-3 text-center">
                                </td>
                                <td>
                                    <input type="number" placeholder="retrait" class="m-3 text-center">
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <a href="#" class="btn bg-dark text-light">Valider</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-5">
        <div class="col-8 mx-auto">
            <div class="card border-primary mb-3 " style="border-radius: 20px;">
                <div class="card-header h2 bg-primary">
                    Historique de vos transaction
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col">
                                Numéro de carte
                            </th>
                            <th scope="col">
                                Date Expiration
                            </th>
                            <th scope="col">
                                Email du client
                            </th>
                            <th scope="col">
                                Type de compte
                            </th>
                            <th scope="col">
                                Total du compte
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">
                                123412341234
                            </th>
                            <td>
                                2027-07-07
                            </td>
                            <td>
                                email@gmail.com
                            </td>
                            <td>
                                cheque
                            </td>
                            <td>
                                5200.00
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                2
                            </th>
                            <td>
                                Jacob
                            </td>
                            <td>
                                Thornton
                            </td>
                            <td>
                                @fat
                            </td>
                            <td>
                                @fat
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                3
                            </th>
                            <td colspan="2">
                                Larry the Bird
                            </td>
                            <td>
                                @twitter
                            </td>
                            <td>
                                @fat
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>


<div th:replace="common/header :: body-bottom-scripts" />
</body>

</html>