<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head th:replace="common/header :: common-header"/>

<body class="bg-dark">

<div th:replace="common/header :: navbar"/>

<div class="accueil" id="home">

    <div class="container-fluid text-center">
        <div>
            <br><br><br>
            <div class="row">

                <div class="col-2">

                    <div class="row m-2 mt-5 mb-5">
                        <img src="https://us.123rf.com/450wm/nadya76/nadya761707/nadya76170700107/
                        81544293-dlue-fleur-de-lys-fond-noir-isol%C3%A9-avec-un-trac%C3%A9-de-d%C3%A9tourage-
                        fermer-pas-d-ombres-pour-le-design-la-n.jpg?ver=6"
                             alt="logo quebec">
                    </div>

                    <div class="row m-2 mt-5 mb-5">
                        <a th:href="@{/portailClient}" type="button"
                           class="btn btn btn-outline-secondary couleurBleu">Portail</a>
                    </div>
                    <div class="row m-2 mt-5 mb-5">
                        <a th:href="@{/addComptePortail/{id}(id=${idUser})}" type="button"
                           class="btn btn-outline-secondary couleurBleu">Ajouter un compte</a>
                    </div>
                    <div class="row m-2 mt-5 mb-5">
                        <a th:href="@{/addCartePortail}"  type="button"
                           class="btn btn-outline-secondary couleurBleu">Ajouter une
                            carte</a>
                    </div>
                    <div class="row m-2 mt-5 mb-5">
                        <a th:href="@{/addTransaction}" type="button"
                           class="btn btn-outline-secondary couleurBleu">Transaction</a>
                    </div>
                    <div class="row m-2 mt-5 mb-5">
                        <button type="button" class="btn btn-outline-secondary couleurBleu">Secondary</button>
                    </div>
                </div>

                <div class="col-10">


                    <table class="table text-light">
                        <thead>
                        <tr>
                            <th scope="col" colspan="3" class="h2">Mon tableau de bord</th>
                            <th class="h2 couleurBleu"> Chez QUÉBEC BANQUE</th>
                        </tr>
                        </thead>
                    </table>

                    <div th:if="${message}" class="alert alert-success alert-dismissible fade show"
                         role="alert">
                        <strong>Succès !!</strong>
                        [[${message}]]
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <!-- Jumbotron -->
                    <div th:if="${user}" class="p-4 shadow-4 rounded-3 card border-primary"
                         style="background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65))">
                        <h2 class="text-light">Hello world!</h2>
                        <p class="text-light">
                            This is a simple hero unit, a simple jumbotron-style component for calling extra
                            attention to featured content or information.
                        </p>

                        <hr class="my-4 bg-primary" />

                        <p class="text-light">
                            It uses utility classes for typography and spacing to space content out within the
                            larger container.
                        </p>
                        <button type="button" class="btn btn-primary">
                            Learn more
                        </button>
                    </div>
                    <!-- Jumbotron -->

                    <div class="row m-2 p-4 shadow-4 rounded-3 card border-primary transparentBlack">
                        <div col-12>

                            <table class="table table-bordered text-light mt-3">
                                <thead class="thead-dark">
                                <th>ID Compte</th>
                                <th>Type de Compte</th>
<!--                                <th>Id du client du compte</th>-->
                                <th>Solde du compte</th>
<!--                                <th>Date création</th>-->
                                <th>Dépot</th>
                                <th>Retrait</th>
                                <th>Action</th>
                                </thead>
                                <th:block th:each="compte : ${listComptesParClient}">
                                    <tbody>
                                    <td>[[${compte.id}]]</td>
                                    <td>[[${compte.type}]]</td>
<!--                                    <td>[[${compte.idClient}]]</td>-->
                                    <td>[[${compte.solde}]]</td>
<!--                                    <td>[[${compte.dateCreation}]]</td>-->
                                    <td>
                                        <form th:action="@{/operation}" th:object="${versement}" method="post">
                                            <input type="number" placeholder="depot" id="montant" name="montant"
                                                   class="m-3 text-center">
                                            <button type="submit" class="btn btn-danger" >Submit</button>
                                        </form>
                                    </td>
                                    <td>
                                        <input type="number" placeholder="retrait" id="retrait" name="retrait"
                                               class="m-3 text-center">
                                    </td>
                                    <td>
                                        <a class="h4 mr-3" th:href="@{/comptes/transact/{id}(id=${compte.id})}">Transact</a>
                                        <a class="h4" th:href="@{/comptes/delete/{id}(id=${compte.id})}">Delete</a>
                                    </td>
                                    </tbody>
                                </th:block>
                            </table>

                        </div>
                    </div>


                    <div class="row">


                        <div class="card border-primary mb-3 col-4" th:if="${compte}"
                             style="border-radius: 20px;background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65))">
                            <form action="#" th:action="@{/addCompte}" th:object="${compte}" method="post"
                                  class="row g-3 needs-validation m-3 border-primary" style="border-radius: 15px;"
                                  novalidate>
                                <h2 class="text-light">Nouveau compte</h2>
                                <div class="col-12">
                                    <div class="input-group-prepend">

                                        <table class="table">
                                            <tr>
                                                <th>
                                                    <label for="idClient" class="form-label text-light ">id Client </label>
                                                    <input type="number" class="form-control text-center col-xl-2"
                                                           id="idClient" name="idClient" th:value="${idClient} "
                                                           required>
                                                </th>
                                                <th>
                                                    <label for="type" class="form-label text-light">Compte</label>
                                                    <select class="form-control " name="type" id="type"
                                                            th:field="*{type}">
                                                        <option th:value="epargne">Épargne</option>
                                                        <option th:value="cheque">Chèque</option>
                                                        <option th:value="retraite">Retraite</option>
                                                    </select>
                                                </th>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <div class="form-check">

                                                        <input class="form-check-input " type="checkbox" value=""
                                                               id="invalidCheck" required>
                                                        <label class="form-check-label text-light">
                                                            Agree to terms and conditions
                                                        </label>
                                                        <div class="invalid-feedback">
                                                            You must agree before submitting.
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>

                                    </div>

                                </div>

                                <div class="col mx-auto text-center m-2">
                                    <button class="btn btn-success" type="submit">Créer</button>
                                    <input class="btn btn-danger" type="reset" value="Reset">
                                </div>
                            </form>
                        </div>


                        <div class="col-6" th:if="${carte}">
                            <div class="card border-primary mb-3 "
                                 style="border-radius: 20px; background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65))">
                                <div class="card-header h2 text-light">
                                    Activer votre carte
                                </div>
                                <form action="#" th:action="@{/carte/save}" th:object="${carte}" method="post">

                                    <div class="table-responsive">

                                        <table class=" table table-hover ">
                                            <tr>
                                                <td colspan="2">
                                                    <label class="text-light">IdClient : </label>
                                                    <input th:field="*{idClient}" type="number" name="idClient" placeholder="00"
                                                           class="text-center col-2">
                                                </td>
                                                <td>
                                                    <label class="text-light">IdCompte : </label>
                                                    <input th:field="*{idCompte}" type="number" name="idCompte" placeholder="00"
                                                           class="text-center col-3">
                                                </td>
                                            </tr>
                                            <tr>


                                                <td colspan="2" class="text-light">
                                                    Dépot de 50 $ pour activer le compte
                                                </td>
                                                <td>
                                                    <button type="submit" value="Submit" class="btn btn-success btn-sm">
                                                        Activer
                                                    </button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><label class="text-light">Dépot : </label>
                                                    <input type="number" name="total" placeholder="00"
                                                           th:value="${total}"
                                                           class="h6 text-center col-6">
                                                </td>
                                                <td>
                                                    <input type="text" name="noCarte"
                                                           th:value="${noCarte}"
                                                           class="text-center">
                                                </td>
                                                <td>
                                                    <input type="text" name="dateExpiration"
                                                           th:value="${dateExpiration}"
                                                           class="h6 text-center">
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>


                    <div class="card border-primary mb-3 " th:if="${transaction}"
                         style="border-radius: 20px;background: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65))">
                        <div class="card-header h2 text-center text-light">
                            Faire une transaction
                        </div>
                        <div class="card-body text-primary 5 text-light">
                            <div class="table-responsive">
                                <table class=" table table-hover table-striped table-bordered  text-center ">
                                    <tr>
                                        <td class="text-light">
                                            Sommaire
                                        </td>
                                        <td class="text-light">
                                            150 $
                                        </td>
                                        <td class="text-light">
                                            - 00 $
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" class="text-light">
                                            Entrer les informations nécessaire
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="number" placeholder="00" class="h6 text-center">
                                        </td>
                                        <td>
                                            <input type="number" placeholder="0000 0000 0000 0000"
                                                   class="h4 text-center">
                                        </td>
                                        <td>
                                            <input type="number" placeholder="8/27" class="h6 text-center">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input class="m-3 text-center" placeholder="0000 0000 0000 0000">
                                        </td>
                                        <td>
                                            <input type="number" placeholder="depot" class="m-3 text-center">
                                        </td>
                                        <td>
                                            <input type="number" placeholder="retrait" class="m-3 text-center">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <a href="#" class="btn bg-primary text-light">Valider</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>


                    <div class="row m-5" th:if="${historique}">
                        <div class="col-8 mx-auto">
                            <div class="card border-primary mb-3 " style="border-radius: 20px;">
                                <div class="card-header h2 bg-primary">
                                    Historique de vos transaction
                                </div>
                                <div class="card-body table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <tr>
                                            <th scope="col">
                                                Numéro de carte
                                            </th>
                                            <th scope="col">
                                                Date Expiration
                                            </th>
                                            <th scope="col">
                                                Email du client
                                            </th>
                                            <th scope="col">
                                                Type de compte
                                            </th>
                                            <th scope="col">
                                                Total du compte
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <th scope="row">
                                                123412341234
                                            </th>
                                            <td>
                                                2027-07-07
                                            </td>
                                            <td>
                                                email@gmail.com
                                            </td>
                                            <td>
                                                cheque
                                            </td>
                                            <td>
                                                5200.00
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                2
                                            </th>
                                            <td>
                                                Jacob
                                            </td>
                                            <td>
                                                Thornton
                                            </td>
                                            <td>
                                                @fat
                                            </td>
                                            <td>
                                                @fat
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                3
                                            </th>
                                            <td colspan="2">
                                                Larry the Bird
                                            </td>
                                            <td>
                                                @twitter
                                            </td>
                                            <td>
                                                @fat
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>

            </div>

        </div>


    </div>
</div>

<!-- Section parallax -->


<section class="parallax">
    <p>Je me souviens</p>
    <span>Partez à l'aventure</span>
</section>

<div th:replace="common/header :: body-bottom-scripts"/>
</body>
</html>