<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head th:replace="common/header :: common-header"/>

<body class="bg-dark">

<div th:replace="common/header :: navbar"/>
<br><br><br><br>
<div>
    <h1 class="text-center text-light">Confirmation d'insertion dans la base donnée</h1>
</div>

<div th:if="${message}" class="alert alert-success alert-dismissible fade show"
     role="alert">
    <strong>Succès !!</strong>
    [[${message}]]
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<h1>Result</h1>


<!--/*@thymesVar id="user" type="user.name"*/-->
<p class="text-light" th:text="'Numero Carte: ' + ${carte.noCarte}"></p>
<p class="text-light" th:text="'Date Expiration: ' + ${carte.dateExpiration}"></p>
<a href="/addCarte">Submit another message</a>




<div th:replace="common/header :: body-bottom-scripts" />
</body>
</html>